@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body{
        @apply bg-black text-white font-darker relative
    }
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-image: url("../public/assets/bg1.png");
    background-repeat: no-repeat;
    background-position: right 0;
}


@layer utilities {
    .dril__item{
        position: relative;
        padding-left: 33px;
        /* z-index: 10; */
    }
    
    .dril__item::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        z-index: -100;
        border-left: 33px solid #000;
        border-top: 187px solid #282828;
        border-bottom: 187px solid #282828;
    }
    
    .dril__item::after {
        content: '';
        position: absolute;
        left: 100%;
        top: 0;
        /* display: block; */
        z-index: 10;
        border-left: 33px solid #282828;
        border-top: 187px solid transparent;
        border-bottom: 187px solid transparent;
    }

    .bgul {
        background-position: right 30px top 0px;
    }


    .bgvertical{
        background-image: url("../public/assets/flowy.png");
    }
}
